<h1>Pages#info</h1>

<p>Hi! My name is yamasy(a.k.a. <a href="http://fb.me/yamasy1549s">yamasy1549</a>). Nice to meet you:)</p>
<p>Actually, I'm a graduate of <a href="http://railsgirls.com/osaka-1st">Rails Girls Osaka #1</a>. So I've been looking forward to participating <a href="http://railsgirls.com/osaka">#2</a> today!</p>
